[submodule "FamilyPoints-laravel-api"]
	path = FamilyPoints-laravel-api
	url = https://github.com/RK181/FamilyPoints-laravel-api.git
	branch = master
[submodule "FamilyPoints-ionic-front"]
	path = FamilyPoints-ionic-front
	url = https://github.com/RK181/FamilyPoints-ionic-front.git
	branch = master
